.strike{
    color: gray;
    text-decoration: line-through;
}
ul{
    display: flex;
    border: 1px solid red;
    justify-content: center;
    background-color: aqua;
    padding: 10px;
}
.signup{
    display: flex;
    border: 1px solid red;
    justify-content: center;
    background-color: aqua;
    padding: 10px;
}
.signup a{
    padding: 10px;
}
.title{
   text-align: center;
}