.strike{
    color: gray;
    text-decoration: line-through;
}
ul{
    display: flex;
    border: 1px solid red;
    justify-content: center;
    background-color: aqua;
    padding: 10px;
}
.superstars{
    margin: 10px;
    font-weight: bold;
}
